aiohttp==2.3.10
asn1crypto==0.23.0
async-timeout==2.0.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.3
gevent==1.2.2
greenlet==0.4.13
idna==2.6
idna-ssl==1.0.0
jsonschema==2.6.0
mmh3==2.3.1
multidict==4.1.0
numpy==1.13.3
optimizely-sdk==1.3.0
pandas==0.21.0
py==1.5.2
pycparser==2.18
pyOpenSSL==17.4.0
pytest==3.2.5
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
requests-mock==1.3.0
six==1.11.0
urllib3==1.22
yarl==1.1.0
