aiohttp==3.2.1
async-timeout==3.0.0
attrs==18.1.0
calysto-processing==2.0.3
certifi==2022.12.7
chardet==3.0.4
decorator==4.3.0
html2text==2018.1.9
httpretty==0.9.4
idna==2.6
idna-ssl==1.0.1
jedi==0.12.0
more-itertools==4.1.0
multidict==4.3.1
numpy==1.14.3
pandas==0.22.0
parso==0.2.0
pexpect==4.5.0
pluggy==0.6.0
py==1.5.3
pytest==3.5.1
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
urllib3==1.22
yarl==1.2.4
